.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.game_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.playable_area{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}